Package: com.xnucfw.sigmastrap
Name: sigmastrap
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: dumbButSkilledDev
Author: dumbButSkilledDev
Section: System
Tag: role::hacker
